#header{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#displayDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url("./img/green.jpg");
    background-size: cover;
    border: solid darkgrey 5px;
    border-style: outset;
    flex-shrink: 0;
    flex-grow: 0;
    width: 700px;
    height: 120px;
    border-radius:15%;
    margin-bottom: 40px;
    
}

#padDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;

}

.button{
    width: 100px;
    height: 70px;
    font-size: 25px;
    font-weight: 900;
    font-family: "Kode Mono", monospace;
    border-radius: 30%;
    border-style: outset;
    
    background-image: url("./img/metallic1.jpg");
    background-size: cover;
}


#numPadDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 190px;
    gap: 30px;
}

.numRow{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap:50px;
}

#operatorDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:16px;
    margin-left: 50px;
    padding-left: 20px;

}
#display{
    
    flex-shrink: 0;
    flex-grow: 0;
   
}

.title{
    font-size: 50px;
    text-shadow: -2px -2px 0 rgba(169, 169, 169, 0.5), 2px -2px 0 rgba(169, 169, 169, 0.568), -2px 2px 0 black, 2px 2px 0 black;
    font-family: "Kode Mono", monospace;
    
    color: rgb(25, 236, 25);
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-size: cover;
    justify-content: center;
    align-items: center;
    background-image: url("./img/—Pngtree—abstract\ metal\ background_3550153.jpg");
    z-index: -1;
    background-repeat: no-repeat;
}